:root {
  /* кольори */
  --color-text-primary: #626262;
  --color-text-category: #b4ad9e;
  --color-text-navigation: #7d7d7d;
  --color-text-hover: #03a9f4;
  /* шрифти */
  --font-primary: "Playfair Display", serif;
  --font-secondary: "Ubuntu", serif;
}
body {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.35;
  color: var(--color-text-primary);
}

.container {
  max-width: 936px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
}
/* Шапка сайту */
.header {
  padding-top: 70px;
}

.nav-list {
  max-width: 555px;
  display: flex;
  gap: 100px;
  justify-content: center;
  margin: 0 auto;
}

.nav-link {
  color: var(--color-text-navigation);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-text-hover);
}
/* Секція Галерея */
.gallery {
  padding-top: 90px;
  padding-bottom: 65px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-list {
  margin-bottom: 95px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 65px;
  row-gap: 130px;
}

.gallery-item {
  max-width: 420px;
}

.post-photo {
  margin-bottom: 60px;
}

.post-category {
  font-family: var(--font-secondary);
  color: var(--color-text-category);
  font-weight: 300;
  margin-bottom: 30px;
  display: inline-block;
}
.post-title {
  font-size: 30px;
  margin-bottom: 40px;
}

.gallery-button {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  border: 1px solid var(--color-text-primary);
  background-color: transparent;
  padding: 20px 50px;
}

.gallery-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
